[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "*"
requests = "*"
python-dotenv = "*"
ipython = "*"
django-timezone-field = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
whitenoise = "*"
gunicorn = "*"
uvicorn = "*"
uvloop = "*"
httptools = "*"
psycopg2-binary = "*"
dj-database-url = "*"
celery = "*"
redis = "*"
django-celery-beat = "*"
python-telegram-bot = "*"
Django = "*"
beautifulsoup4 = "*"
lxml = "*"
aiohttp = {extras = ["speedups"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
